.grid{
    margin-top: 5%;
    grid-template-columns: 15% 15% 15% 15%;
    grid-template-rows: 150px 150px 150px 150px;
}

.gerald{
    background-image: url(/images/TargetSeven.png);
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    cursor: pointer;
}

@media (max-width: 812px){ 
    .grid{
        margin-top: 30%;
        margin-left: 0;
 
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 100px 150px 150px 150px;
    }
}




