.grid{
    margin-left: 22%;
    grid-template-columns: 10% 10% 10% 10% 10%;
    grid-template-rows: 150px 150px 150px 150px 150px;
}

.square{
    border: solid;
    border-width: 0.5px;
    border-radius: 100px;
}

.mole{
    background-color: blue;
    cursor: pointer;
}

@media (max-width: 812px){ 
    .grid{
        margin-left: 3%;
        grid-template-columns: 17% 17% 17% 17% 17%;
        grid-template-rows: 70px 70px 70px 70px 70px;
    }
}



