.grid{
    margin-left: 15%;
    grid-template-columns: 20% 20% 20%;
    grid-template-rows: 150px 150px 150px;
    gap: 3% 5%;
}

.square{
    padding: 5%;
    font-size: 20px;
    background-color: red;
    color: white;
}

.structure{
    background-color: green;
    cursor: pointer;
}





