.grid{
    margin-left: 15%;
    
    grid-template-columns: 7% 7% 7% 7% 7% 7% 7%;
    grid-template-rows: 70px 70px 70px 70px 70px 70px 70px 70px;
    gap: 1% 1%;

    transform: rotateX(61deg)
               rotateZ(-43deg);
}

.square{
    border: solid;
}

.architecture{
    background-color: black;
    cursor: pointer;
}

@media (max-width: 812px){ 
    .grid{
        margin-top: 30%;
        margin-left: 18%;

        grid-template-columns: 7% 7% 7% 7% 7% 7% 7%;
        grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px;
    }
}



