.grid{
    display: inline-flex;

    margin-top: 20%;
    margin-left: 1%;
    
    grid-template-columns: 20% 20% 20% 20% 20% 20% 20% 20% 20%;
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px;
}

.square{
    padding:10%;
    width: 60%;
}

.confidence{
    background-image: url(/images/TargetTwo.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;    
    cursor: pointer;
}





