.grid{
    grid-template-columns: 20% 20% 20%;
    grid-template-rows: 150px 150px 150px;
}

.square{
    background-image: url(/images/TargetFive.png);
    color: transparent;
}

.creature{
    padding: 5%;
    font-size: 50px;
    cursor: pointer;
    color: white;
    z-index: 2;
}

@media (max-width: 812px){ 
    .grid{
        margin-top: 30%;
        margin-left: 3%;

        grid-template-columns: 30% 30% 30%;
        grid-template-rows: 150px 150px 150px;
    }

    .creature{
        font-size: 30px;
    }
}





