.grid{
    margin-left: 10%;
    grid-template-columns: 12% 12% 12% 12% 12%;
    grid-template-rows: 150px 150px 150px 150px 150px;
    gap: 5% 5%;
}

.facebook{
    background-image: url(/images/TargetOne.png);
    cursor: url(https://cur.cursors-4u.net/others/oth-1/oth4.cur), auto !important;
    background-repeat: no-repeat;
    background-size: 80% 100%;
}

@media (max-width: 812px){ 
    .grid{
        margin-top: 30%;
        
        width: 80%;

        grid-template-columns: 25% 25% 25% 25% 25%;
        grid-template-rows: 100px 100px 100px 100px 10px;

    }
}

