.grid{
    color: black;
    list-style: none;
    padding: 0;
    margin-top: 7%;
    margin-left: 20%;
    display: grid;
    grid-template-columns: 20% 20% 20%;
    grid-template-rows: 150px 150px 150px;
    gap: 3% 1%;
    width: 100%;
}

.square{
    background-image: url(/images/TargetFive.png);
    color: transparent;
}

.creature{
    cursor: pointer;
    z-index: 2;
    color: white;
    font-size: 50px;
    padding: 5%;
}





