.grid{
    position: fixed;
    color: black;
    list-style: none;
    padding: 0;
    margin-left: 15%;
    display: grid;
    grid-template-columns: 7% 7% 7% 7% 7% 7% 7%;
    grid-template-rows: 70px 70px 70px 70px 70px 70px 70px 70px;
    gap: 1% 1%;
    width: 100%;

    transform: rotateX(61deg)
               rotateZ(-43deg);
}

.square{
    border: solid;
}

.architecture{
    background-color: black;
    cursor: pointer;
}





