.grid{
    color: black;
    list-style: none;
    padding: 0;
    margin-top: 7%;
    margin-left: 20%;
    display: grid;
    grid-template-columns: 20% 20% 20%;
    grid-template-rows: 150px 150px 150px;
    gap: 3% 1%;
    width: 100%;
}

.square{
    color: transparent;
}

.opportunity{
    padding-top: 20%;
    background-color: black;
    color: white;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
}





