.grid{
    grid-template-columns: 20% 20% 20%;
    grid-template-rows: 150px 150px 150px;
}

.square{
    color: transparent;
}

.opportunity{
    padding-top: 20%;
    background-color: black;
    color: white;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
}

@media (max-width: 812px){ 
    .grid{
        margin-left: 0;
        width: 100%;

        grid-template-rows: 100px 100px 100px;
    }

    .opportunity{
        font-size: 100%;
    }
}



