.grid{
    position: fixed;
    color: black;
    list-style: none;
    padding: 0;
    margin-top: 7%;
    margin-left: 22%;
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10%;
    grid-template-rows: 150px 150px 150px 150px 150px;
    gap: 3% 1%;
    width: 100%;
}

.square{
    border: solid;
    border-width: 0.5px;
    border-radius: 100px;
}

.mole{
    background-color: blue;
    cursor: pointer;
}





