.grid{
    margin-top: 5%;
    margin-left: 20%;

    grid-template-columns: 20% 20% 20%;
    grid-template-rows: 150px 150px 150px;
}

.square{
    color: transparent;
}

.eczema{
    background-repeat: no-repeat;
    background-size: 100% 100%;    
    cursor: pointer;
    color: red;
    font-size: 120px;
}

@media (max-width: 812px){ 
    .grid{
        margin-top: 30%;
        margin-left: 0%;
    }
}

